.title {
  font-size: 50px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.numbered-list {
  list-style-type: none;
  counter-reset: my-counter;
  /*padding-right: 200px;*/
  padding-left: 0;
  margin: auto;
}

.numbered-list li {
  counter-increment: my-counter;
  margin-bottom: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.numbered-list li::after {
  content: '';
  display: block;
  width: 50%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 25%; 
}


.channelInfo {
  display: flex;
  align-items: center;
}

.channelRank {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.channelIcon {
  width: 150%;
  height: 150%;
  object-fit: cover;
  border-radius: 50%;
}

.channelDetails {
  margin-left: 50px;
}

.channelName {
  font-size: 35px;
  font-weight: bold;
}

.subscriberCount {
  font-size: 18px;
}

.channelLink {
  color: green;
  text-decoration: none;
  transition: opacity 0.3s;
}

.channelLink:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .channelDetails {
     position: relative;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

   .channelRank {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px; 
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }


  .channelIcon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

   .channelInfo {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }


  .channelName {
    font-size: 25px;
    margin-bottom: 10px;
  }

   .numbered-list li {
    text-align: center;
  }

  .numbered-list li::after {
    left: auto;
    right: 50%;
    transform: translateX(50%)
  }

   .youtubePlayer {
    width: 300px;
    height: 169px;
  }
}


